### Import Required Libraries

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

In [2]:
data = pd.read_csv("adult.csv")

In [3]:
data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
# data.info()
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [5]:
# Rename cols

cols_names = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship',
             'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country']
# cols_names = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship',
#              'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']
# data.columns = cols_names
# data.columns

In [6]:
# find categorical variables

categorical = [var for var in data.columns if data[var].dtype=='O']

print(f'There are {len(categorical)} categorical variables\n')

print('The categorical variables are :\n\n',categorical)

There are 9 categorical variables

The categorical variables are :

 ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'income']

In [7]:
data[categorical]

,workclass,education,marital_status,occupation,relationship,race,sex,native_country,income
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...
32556,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K
32557,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
32558,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
32559,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K
32560,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,>50K

# Summary of categorical variables
There are 9 categorical variables.
The categorical variables are given by workclass, education, marital_status, occupation, relationship, race, sex, native_country and income.
income is the target variable.

In [8]:
data[categorical].isnull().sum()

workclass         0
education         0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
native_country    0
income            0
dtype: int64

In [9]:
data["workclass"].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [10]:
data['workclass'].replace(' ?', np.NaN, inplace=True)

In [11]:
data['workclass'].value_counts()

workclass
 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: count, dtype: int64

In [12]:
data['occupation'].value_counts()

occupation
 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: count, dtype: int64

In [13]:
data['occupation'].replace(' ?', np.NaN, inplace=True)

In [14]:
data['workclass'].value_counts()

workclass
 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: count, dtype: int64

In [15]:
data['native_country'].replace(' ?', np.NaN, inplace=True)

In [16]:
data['native_country'].value_counts()

native_country
 United-States                 29170
 Mexico                          643
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: count, dtype: int64

In [17]:
data[categorical].isnull().sum()

workclass         1836
education            0
marital_status       0
occupation        1843
relationship         0
race                 0
sex                  0
native_country     583
income               0
dtype: int64

In [18]:
for var in categorical:
    
    print(var, ' contains', len(data[var].unique()), 'labels')

workclass  contains 9 labels
education  contains 16 labels
marital_status  contains 7 labels
occupation  contains 15 labels
relationship  contains 6 labels
race  contains 5 labels
sex  contains 2 labels
native_country  contains 42 labels
income  contains 2 labels

In [19]:
# find numerical variables

numerical = [var for var in data.columns if data[var].dtype!='O']

print(f'There are {len(numerical)} numerical variables\n')

print('The numerical variables are :', numerical)

There are 6 numerical variables

The numerical variables are : ['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']

In [20]:
data[numerical].head()

   age  fnlwgt  education_num  capital_gain  capital_loss  hours_per_week
0   39   77516             13          2174             0              40
1   50   83311             13             0             0              13
2   38  215646              9             0             0              40
3   53  234721              7             0             0              40
4   28  338409             13             0             0              40

In [21]:
X = data.drop(['income'], axis=1)

y = data['income']

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 123)

In [23]:
# display categorical variables

categorical = [col for col in X_train.columns if X_train[col].dtypes == 'O']

# display numerical variables

numerical = [col for col in X_train.columns if X_train[col].dtypes != 'O']

print(categorical)
print(numerical)

['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country']
['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']

In [24]:
X_train[categorical].isnull().mean()

workclass         0.055677
education         0.000000
marital_status    0.000000
occupation        0.055853
relationship      0.000000
race              0.000000
sex               0.000000
native_country    0.017506
dtype: float64

In [25]:
# impute missing categorical variables with most frequent value

for df1 in [X_train, X_test]:
    df1['workclass'].fillna(X_train['workclass'].mode()[0].strip(), inplace=True)
    df1['occupation'].fillna(X_train['occupation'].mode()[0].strip(), inplace=True)
    df1['native_country'].fillna(X_train['native_country'].mode()[0].strip(), inplace=True)

C:\Users\ABHISHEK\AppData\Local\Temp/ipykernel_13448/2357196531.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['workclass'].fillna(X_train['workclass'].mode()[0].strip(), inplace=True)
C:\Users\ABHISHEK\AppData\Local\Temp/ipykernel_13448/2357196531.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['occupation'].fillna(X_train['occupation'].mode()[0].strip(), inplace=True)
C:\Users\ABHISHEK\AppData\Local\Temp/ipykernel_13448/2357196531.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['native_country'].fillna(X_train['native_country'].mode()[0].strip(), inplace=True)

In [26]:
X_train[categorical].isnull().sum()

workclass         0
education         0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
native_country    0
dtype: int64

In [27]:
X_test[categorical].isnull().sum()

workclass         0
education         0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
native_country    0
dtype: int64

In [28]:
from sklearn.preprocessing import LabelEncoder

In [29]:
le = LabelEncoder()

In [30]:
# encode remaining variables with one-hot encoding

cols=['workclass', 'education', 'marital_status', 'occupation', 'relationship', 
                                 'race', 'sex', 'native_country']
# X_train['workclass'] = le.fit_transform(X_train['workclass'])
for var in cols:
    
    X_train[var] = le.fit_transform(X_train[var].str.strip())

for var in cols:
    X_test[var] = le.fit_transform(X_test[var].str.strip())

C:\Users\ABHISHEK\AppData\Local\Temp/ipykernel_13448/4123832822.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[var] = le.fit_transform(X_train[var].str.strip())
C:\Users\ABHISHEK\AppData\Local\Temp/ipykernel_13448/4123832822.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[var] = le.fit_transform(X_test[var].str.strip())

In [31]:
X_train.shape, X_test.shape

((22792, 14), (9769, 14))

In [32]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

In [33]:
X_train = pd.DataFrame(X_train, columns=[cols_names])
X_test = pd.DataFrame(X_test, columns=[cols_names])

In [34]:
X_train.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,0.90,2.0,0.127834,0.000000,-0.25,-1.0,-0.666667,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,0.60,-3.0,-0.434629,-0.666667,0.75,0.0,-0.500000,-0.333333,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.25,0.0,-0.491041,-0.666667,0.75,1.0,0.500000,0.666667,0.0,0.0,0.0,0.0,0.0,0.0
3,0.75,0.0,-0.102987,1.333333,0.00,0.0,-0.666667,-0.333333,0.0,0.0,0.0,0.0,0.0,0.0
4,0.55,0.0,-0.820091,-3.333333,-0.75,0.0,-0.333333,-0.333333,0.0,0.0,0.0,0.0,2.0,0.0

### Naive Bayes Model

In [35]:
# train a Gaussian Naive Bayes classifier on the training set
from sklearn.naive_bayes import GaussianNB


# instantiate the model
gnb = GaussianNB()


# fit the model
gnb.fit(X_train, y_train)

GaussianNB()

In [36]:
y_pred = gnb.predict(X_test)

y_pred

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' >50K', ' <=50K'],
      dtype='<U6')

In [37]:
from sklearn.metrics import accuracy_score

print(f'Model accuracy score: {accuracy_score(y_test, y_pred)}')

Model accuracy score: 0.8005937148121609

# Compare model accuracy with null accuracy¶
So, the model accuracy is 0.8005. But, we cannot say that our model is very good based on the above accuracy. We must compare it with the null accuracy. Null accuracy is the accuracy that could be achieved by always predicting the most frequent class.

In [38]:
# check class distribution in test set

y_test.value_counts()

income
 <=50K    7408
 >50K     2361
Name: count, dtype: int64

In [39]:
null_accuracy = (7407/(7407+2361))

print(f'Null accuracy score: {null_accuracy}')

Null accuracy score: 0.7582923832923832

We can see that our model accuracy score is 0.8005 but null accuracy score is 0.7582. So, we can conclude that our Gaussian Naive Bayes Classification model is doing a very good job in predicting the class labels.